.App {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.idvDice {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}


.diepic1 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
}

.d20die {
 font-size: 6em;
}

.diepic2 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
}
.diepic3 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
}
.diepic4 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
}
.diepic5 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
}
.diepic6 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
}
.diepic7 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
}
