.App {
  text-align: center;
  display: grid;
  background: rgb(255, 230, 197);
  min-height: 800px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sponsored {
  font-size: 24px;
}

.title {
  font-size: 42px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.idvDice {
  display: flex;
  flex-direction: column;
  align-content: space-between; 
  margin: 2em;
  padding: 1em;
  background: white;
}


.diepic1 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
  cursor: pointer;
}

.d20die {
 font-size: 6em;
}

.diepic2 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
  cursor: pointer;
}
.diepic3 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
  cursor: pointer;
}
.diepic4 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
  cursor: pointer;
}
.diepic5 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
  cursor: pointer;
}
.diepic6 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
  cursor: pointer;
}
.diepic7 {
  width: 90px;
  height: 90px;
  border: .1em solid black;
  cursor: pointer;
}

.footer {
  margin-top: 20em;
}


@media (max-width: 376px) {
 .App {
   
 }


}